.quiz-board {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  text-align: center;
  font-size: x-large;
}

.quiz-board > * {
  border: 2px solid;
}

.categories {
  background-color: plum;
  font-weight: bolder;
  text-decoration: underline;
}

.ten-points {
  background-color: red;
}

.twenty-points {
  background-color: aqua;
}

.thirty-points {
  background-color: yellow;
}

.forty-points {
  background-color: lightgreen;
}
